.container-hero-right {
    display: flex                                                                                                                                                                                                              ;
    .box-01{
        .image-hero-01 {
            width: 100px;
        }
    }

    .box-02{
        .image-hero-02 {
            width: 100px;
        }
        
    }

    .box-03{
        .image-hero-03 {
            width: 100px;
        }
    }

    .box-04{
        .image-hero-04 {
            width: 100px;
        }
    }

    .box-05{
        .image-hero-05 {
            width: 100px;
        }
    }


}